<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>categoryes</title>
</head>
<body>
    <table style=" float:left;
      color: #000;">
        <td>
            {% for i in posts %}
                <div> {{ i.name }}</div>
                <div>  {{ i.datas }} </div>
                <div> {{ i.data }}</div>
                <div style="margin-left: auto; margin: 20px;"> <img src={{i.img.url}}> </div>
                <div> {{ i.published }}</div>
                <div> {{ i.number_of_comments }}</div>
            {% endfor %}
        </td>
    </table>

</body>
</html>

</body>
</html>
